*{
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    font-family: "Oswald",sans-serif;
    margin:0;
}

h1{
    color:rgb(179,131,226);
    font-size: 7rem;
    text-align: center;
    opacity: 0.4;
}

form{
    width: 400px;
    max-width: 100%;
    margin:auto;
    box-shadow: 0 4px 10px rgba (0,0,0,0.1);

}
.input {
    font-size: 2rem;
    padding:1rem 2rem;
    display: block;
    width: 100%;
    border:none;
}

.input::placeholder{
    color:#b5b5b5;
    
}
.todos { 
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.todos li {
    border-top:1px solid #e5e5e5;
    font-size:1.5rem;
    padding: 1rem 2rem;
}
.todos li.completed{
 text-decoration-line: line-through;
    -webkit-text-decoration-line: line-through;
    text-decoration-color: red;
    -webkit-text-decoration-color: red;
    cursor: pointer;
    color: grey;

}
.info{
    text-align: center;
    color:grey;
    font-size:12px;
    margin-top: 15px;
}
